<!DOCTYPE html>
<html>
<head>
    <title>Movie App - <%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <a href="/">Home</a>
            <a href="/movies">Movies</a>
            <a href="/register">Register</a>
        </div>
    </nav>
    
    <div class="container">
        <h1>Login</h1>
        
        <% if (errors.length > 0) { %>
            <div class="error">
                <% errors.forEach(error => { %>
                    <p><%= error.msg %></p>
                <% }) %>
            </div>
        <% } %>
        
        <form method="POST" action="/login">
            <div>
                <label>Email:</label>
                <input type="email" name="email" value="<%= old.email || '' %>" required>
            </div>
            
            <div>
                <label>Password:</label>
                <input type="password" name="password" required>
            </div>
            
            <button type="submit">Login</button>
        </form>
        
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>